/* Estilo de fuente para toda la página */
body {
    font-family: sans-serif;
}

/* Estilos para la sección izquierda del encabezado */
.header-left {
    flex: 2;
}

/* Estilos para la sección central del encabezado */
.header-center {
    flex: 1;
    text-align: center;
}

/* Estilos para la sección derecha del encabezado */
.header-right {
    flex: 1;
    text-align: right;
}

/* Estilos para detalles de la factura */
.invoice-details {
    font-size: 0.9em;
}

/* Estilos para celdas y encabezados de tabla */
.table th,
.table td {
    padding: 0.5rem;
    font-size: 0.9em;
}

/* Estilos para el monto total */
.total-amount {
    font-size: 1.1em;
    font-weight: bold;
}

/* Estilos para el contenedor del código QR */
.qr-code {
    border: 1px solid #000;
    padding: 5px;
}

/* Estilos para la información en el pie de página */
.footer-info {
    font-size: 0.8em;
}

/* Estilos para secciones con color de fondo */
.colored-section {
    background-color: #f0f0f0;
    color: #333;
}

/* Reglas específicas para la impresión */
@media print {
    /* Forzar al navegador a imprimir fondos y colores */
    body {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }

    /* Ocultar botones al imprimir */
    body div.buttons-container.mt-4.d-flex.justify-content-center {
        display: none !important;
    }

    /* Forzar la impresión de colores de fondo */
    .colored-section {
        background-color: #f0f0f0 !important;
        color: #333 !important;
    }

    /* Asegurar que las tarjetas de emisor y cliente se muestren en la misma línea */
    .row {
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: nowrap !important;
    }

    /* Forzar que las columnas ocupen la mitad del ancho */
    .col-md-6 {
        width: 50% !important;
        max-width: 50% !important;
    }

    /* Eliminar el margen inferior de las tarjetas en la impresión */
    .card {
        margin-bottom: 0 !important;
    }
}

/* Clase para ocultar elementos que no deben ser impresos */
.no-print {
    display: none; 
}