/* Estilos para el cuerpo de la página */
body {
    background-image: url('img/central.png');
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: calc(60% + 100px) center;
    background-attachment: fixed;
    background-color: #f0f8ff;
    color: #000;
}

/* Contenedor del encabezado con layout Flexbox */
.header-container {
    background-color: #0093DD;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap; /* evita saltos de línea */
    overflow: hidden;    /* oculta desbordes */
}

/* Estilos para los elementos hijos del encabezado */
.header-container > div {
    flex: 1 1 auto;              /* distribución proporcional */
    overflow: hidden;
    text-overflow: ellipsis; /* puntos suspensivos si no cabe */
    white-space: nowrap;     /* sin saltos de línea */
}

/* Estilos para el texto de la izquierda en el encabezado */
.header-container .left-text {
    font-size: 16px;
    text-align: left;
}

/* Estilos para el texto central del encabezado */
.header-container .center-text {
    font-size: 24px;
    font-weight: bold;
    color: #333652;
    text-align: center;
}

/* Estilos para el texto de la derecha en el encabezado */
.header-container .right-text {
    font-size: 16px;
    text-align: right;
    font-family: 'Bad Script', cursive;
    font-style: italic;
}

/* Estilos para los campos de formulario y selectores */
.form-control, .form-select {
    border: 2px solid #7fbbf8 !important;
    box-shadow: none;
}

/* Estilos para los campos de formulario al recibir el foco */
.form-control:focus, .form-select:focus {
    border-color: #7fbbf8 !important;
    box-shadow: 0 0 0 0.2rem rgba(40, 148, 255, 0.25) !important;
}

/* Contenedor principal de la página */
.container {
    position: relative;
    z-index: 2;
}